.canvas {
	background: #f09999;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	top: 150px;
    width: 480px;
    margin: 0px auto;
}